<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pets-R-Us</title>

        <!-- Style Sheets -->
        <link rel="stylesheet" href="/styles/site.css">
</head>
<body>

<ul>
    <li><a class="active" href="/index">Home</a></li>
    <li><a href="/grooming">Grooming</a></li>
    <li><a href="/">Customers</a></li>
    <li><a href="/">Training</a></li>
     <li><a href="/">Booking</a></li>
    <li><a href="/">My Appointments</a></li>
  </ul>
  
  <div id="header">
      <h1>Pets-R-Us</h1><a href="#" id="signup">Sign Up For a Free Account</a>
  </div>
  
  
  <div class="container"><h1>About Us </h1><p> Here at Pets-R-Us we know that your furbabies are family. That's why we are committed to giving them the absolute best. To see what services we offer, please refer to our Grooming and Training links at the top left of our page.
  
    <h1> Location Hours </h1>
   <p>Monday: 8:00AM - 5:00 PM <br>
    Tuesday: 8:00 AM - 5:00 PM <br>
     Wednesday: 8:00 AM - 5:00 PM <br>
     Thursday: 8:00 AM - 5:00 PM <br>
      Fiday: 8:00 AM - 10:30 PM <br>
      Saturday: 7:30 AM - 10:30 PM <br>
     Sunday: Closed <br>
     
    <h1>Store Locations</h1>
    <p>Bellevue:</> 1000 Galvin Road S; Bellevue, NE 68005
  
  <h1>Dog of the Week</h1>
  <p>
  <b>Name:</b> Rover <br>
  <b>Age:</b> 3 years old <br>
  <b>Favorite activity:</b> Playing fetch <br>
  <b>Fur-Friends:</b> Sage and Yogurt <br>
    
    
  <h1>Customer Testimonials</h1>
  <center> <p>Friendly staff and environment. I'm never disappointed bringing my furbabies here! - Yang Low <br><br>
    
   <p> Best place to go if you want your furbaby to look their very best! - Bo Young </center>
    
  <h1>Contact Us </h1>
  <p>If you would like to get in contact with us please feel free to call us at 301-555-9067 or email us at pets-r-us@gmail.com
    
  </div>
  <div class="footer">Images Courtesy of Pexels. <br> Bellevue University </div>

  </body>
  </html>
