<header><%- include('./partials/_header.ejs') %>

  <%- include('./partials/_navbar.ejs') %></header>


<div class="card">
  <div class="card-content">
    <div class="card-title"> Boarding </div>
   <p> Boarding with us is easy, and simple. We make sure to make your furbabies feel right at home. Feel free to bring anything from home for them. Their favorite blanket or pillow, or their favorite stuffy. We will make sure that at the end of the day, they'll be tucked in and snuggly warm. </p>
   
    
    </p>
  <hr></hr>
  
  <center><div class="store">
    <ul><li>1 dog up to 5 nights: 30$ / night. </li>
      <li> 1 dog up to 5 nights or over: 35$ / night </li>
      <li> 2 dogs up to 5 nights: 50$ / night </li>
      <li>2 dogs up to 5 nights or over: 65$ / night </li>
      <li>3 dogs up to 5 nights: 85$ / night </li> 
      <li>3 dogs up to 5 nights or over: 90$ / night  </li> </center>
    
  
    
</div></div></div>

<footer><%- include('./partials/_footer.ejs') %></footer>
</body>
</html>
