<header><%- include('./partials/_header.ejs') %>

  <%- include('./partials/_navbar.ejs') %></header>


<div class="card">
  <div class="card-content">
    <div class="card-title"> Grooming </div>
   <p> We offer a multitude of grooming services. Down below you can see what we offer: <br><br>
     
     <b>Nail Trim:</b> $10 <br>
            <b>Hair Cut:</b> $45 - $150* <br>
            <b>Teeth Brushing:</b> $15 <br>
            <b>SPA Packages:</b> $35 - $125 <br><br>
            * Price of Haircut is dependent on how much hair your pet has and what you would like done. 
    
    </p>
    
    
</div></div></div>
            
<footer><%- include('./partials/_footer.ejs') %></footer>
</body>
</html>
        
