<header><%- include('./partials/_header.ejs') %>

  <%- include('./partials/_navbar.ejs') %></header>

<div class="card">
<div class="card-content">
  <div class="card-title"> Company Infomation </div>
 <p> We know that your furbabies are family. So that’s why when we opened up in 2021, we made it our company’s mission to provide them with the best care possible from nose to tail. We are a qualified salon that prides ourselves in our ability to give the highest quality of pampering in a safe and relaxed environment. Our team of highly, fully trained groomers are fully focused on the welfare of your animal. We have many options available to make them look, smell, and feel paw-some. </p>
  
  <hr> </hr>

<div class="card-title"> Location Hours </div>
<center><div class="store"><ul><li> <b>Monday:</b> 8:00 AM - 5:00 PM </li> 
  <li><b>Tuesday:</b> 8:00 AM - 5:00 PM</li>
  <li><b>Wednesday:</b> 8:00 AM - 5:00 PM </li>
  <li><b>Thursday:</b> 8:00 AM - 5:00 PM </li>
  <li><b>Friday:</b> 8:00 AM - 10:30 PM </li>
  <li><b>Saturday:</b> 7:30 AM - 10:30 PM </li>
  <li><b>Sunday:</b> Closed </li> </ul>
  </div>
  
  <hr></hr>

  
</div></div>

<div class="card">
<div class="card-content"><div class="card-title"> Store Locations </div>
  <p><b>Bellevue:</b> 1000 Galvin Road S; Bellevue, NE 68005</p>
  <div class="card">
<div class="card-content">
  <hr></hr>
<div class="card-title"> Dog of the Week </div> <br>
<div class="img"><img src="https://via.placeholder.com/150"></div> <p>
<b>Name:</b> Rover <br>
<b>Age:</b> 3 years old <br>
<b>Favorite activity:</b> Playing fetch <br>
<b>Fur-Friends:</b> Sage and Yogurt <br> </div></div>
<hr></hr> 
<div class="card-title"> Customer Testimonials </div> 
 <center><p>Friendly staff and environment. I'm never disappointed bringing my furbabies here! - Yang Low <br><br>
  
   <p> Best place to go if you want your furbaby to look their very best! - Bo Young </center> <hr></hr>

<div class="card-title"> Contact Us </div> 

<p> If you would like to get in contact with us please feel free to call us at <b>301-555-9067</b> or email us at <b>pets-r-us@gmail.com</b>

</div></div></div>

<footer><%- include('./partials/_footer.ejs') %></footer>

</body>
</html>