<header><%- include('./partials/_header.ejs') %>

<%- include('./partials/_navbar.ejs') %></header>


<div class="card">
    <div class="card-content">
      <div class="card-title"> Registration Form </div>
      <hr></hr>
      <div class="form-field">
        <form action="/customers" method="post">
          <label for="customerName"> Customer Name: </label>
           <input type="text" class="input" name="customerName" id="customerName" required>
                      </div>
          
      
        <div class="form-field"> 
          <label for="email">Email:</label> 
          <input type="text" class="input" name="Email" id="Email" required> </div>
        
      
  
                      <div class="form-field">
                          <input type="submit" value="Pets-R-US Register" class="btn btn-primary full-width">
                      </div>
                  </form>
   
  </div></div></div>
  
  <footer><%- include('./partials/_footer.ejs') %></footer>
</body>
<script type="module"></script>
</html>