<header><%- include('./partials/_header.ejs') %>

  <%- include('./partials/_navbar.ejs') %></header>


<div class="card">
  <div class="card-content">
    <div class="card-title"> Training </div>
   <p> Not only do we have professionally trained groomers, but we also have wonderful trainers that are committed to giving your furbabies the best of the best. Our trainers have all of the needed certifications and before you agree to let them train your pet, you can meet with them for a free consultation. From there, you can ask our trainers any questions or concerns you may have while our trainers will do a proper assessment of what your animal may need. Every pet that goes through our training will come home with a report card of what they did well with and what will be worked on next time so that all owners have a good idea of what is precisely being worked on! <hr></hr>
  
  <div class="card-title"> Tier 1 </div>
  
  <b>Puppy Life Skills:</b> 45$ <br>
  <b>Puppy Basics:</b> 50$ <br>
  <b>Puppy Focus and Self Control:</b> 25$ 
  
  <hr></hr>
  
<div class="card-title"> Tier 2 </div>

<b>Adolescence 101:</b> 65$ <br>
<b>Adolescence Leash Training:</b> 85$ <br>
<b>Adolescence Manners:</b> 65$ 

<hr></hr>

<div class="card-title"> Tier 3 </div>

<b>Adult 101:</b> 85$ <br>
<b>Adult Impulse Control:</b> 45$ <br>
<b>Adult Manners:</b> 85$
  
</div></div></div>

<footer><%- include('./partials/_footer.ejs') %></footer>
</body>
</html>