<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pets-R-Us</title>

        <!-- Style Sheets -->
        <link href="styles/site.css" type="text/css" rel="stylesheet">
        <title><%= title %></title>
    </head>
    <body>


<div id="header">
    <h1>Pets-R-Us</h1><a href="#" id="signup">Sign Up For a Free Account</a>
  </div>
  
  