<div class="navbar">
    <a href="/home">Home</a>
    <a href="/customers">Customers</a>
    <a href="/booking">Booking </a>
    <a href="/appointment">My Appointments</a>
    <div class="dropdown">
      <button class="dropbtn">Services 
      </button>
      <div class="dropdown-content">
        <a href="/training">Training</a>
        <a href="/grooming">Grooming</a>
        <a href="/boarding">Boarding</a>
      </div>
    </div> 
    </div>